@import "tailwindcss";


/* ============= SlideShow =============*/
.slideshow {
  position: relative;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  animation: fade 12s infinite;
}

.slide:nth-child(1) { animation-delay: 0s; }
.slide:nth-child(2) { animation-delay: 3s; }
.slide:nth-child(3) { animation-delay: 6s; }
.slide:nth-child(4) { animation-delay: 9s; }
.slide:nth-child(5) { animation-delay: 12s; }
.slide:nth-child(6) { animation-delay: 15s; }

@keyframes fade {
  0% { opacity: 0; }
  8% { opacity: 1; }
  30% { opacity: 1; }
  38% { opacity: 0; }
  100% { opacity: 0; }
}


/* ============= Effect Nav Bar =============*/
.wave-text {
  display: inline-block;
  transition: transform 0.3s ease;
}

.wave-text:hover {
  transform: translateY(-2px);
}


/* =============  =============*/


/* ============= Grid =============*/
.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3,min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-sta] 1fr [center-start] repeat(8, [col-start] minmax(min-content,14rem)[col-end]) [center-end] 1fr [full-end];
}

.sidebar {
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
}

.projects {
  grid-column: center-start / center-end;
}

.headr {
  grid-column: full-start / col-end 6;
}

.three_projects {
  grid-column: col-start 7 / full-end;
}